<h1>Hello, <%= @post.user.email %></h1>
<p>You are successfully created your Bolg post! Good Luck</p>
<!-- <p>Here is an image related to the post:</p>
<img src="cid:tech.jpeg" alt="Post Image" /> -->